{% if section.settings.shippingbar-checkbox == true %}
        
    <div class="shipping-progress-container">
    {% assign free-shipping-amt = section.settings.shippingbar | times: 100 %}
        {% assign total_price = cart.total_price %}
        <progress id='free-shipping-progress'value={{cart.total_price}} max={{free-shipping-amt}}></progress>
        {% if total_price >= free-shipping-amt %}
            <p id='spend-additional'>Nice! You qualify for free shipping.</p>
        {% else %}
            {% assign difference = free-shipping-amt | minus: cart.total_price | money %}
            <p id='spend-additional'>{{difference}} away from free shipping.</p>
        {% endif %}
    </div>

{% endif %}


{% schema %}
    {
        "name": "Free Shipping Amount",
        "settings": [
            {
                "id": "shippingbar",
                "type": "text",
                "label": "Free Shipping Amount",
                "placeholder": "Enter Amount (e.g. 50)"
            
            },
            {
                "id": "shippingbar-checkbox",
                "type": "checkbox",
                "label": "Enable Free Shipping Progress Bar?",
                "default": false
            }
        ]
    }
{% endschema %}